// VARIABLES
@import "variables/colours.scss";

// RESETS
@import "resets/normalize.scss";
@import "resets/reset.local.scss";
@import "resets/responsive.scss";
@import "resets/typography.scss";
@import "resets/placeholder.scss";


// COMPONENTS
@import "./components/nav.scss";
@import "./Animation/shapes.scss";
@import "./components/hero.scss";
@import "./components/about.scss";
@import "./components/skills.scss";
@import "./components/experience.scss";
