@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Rubik:400');

$primary-color: #667eea;
$secondary-color: #764ba2;


.container {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute; // To make the shape behind the Hero section
    z-index: -1;
    .inner-container {
        width: 90%;
        margin: 0 auto;
    }

    .title {
        position: relative;
        display: block;
        top: 30vh;
    }

  
}

.shape {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.random-shape:after {
    font-family: FontAwesome;
    content: "\f005";
   
}

$circle-size: 130px;
$colors: #FFD700, #FFF8DC, #DB7093, #C2B7FE, #95A9FF;
$shapes: '\f005', '\f0c8', '\f1db', '\f096', '\f1d8', '\f1cb';
$shape-count: 50;

@for $i from 1 through $shape-count {
    $shape-size: random(120);
    $rotation: random(1000);
    $speed: 40 + random(10);
    $color-key: random( length($colors) );
    $shape-color: nth( $colors, $color-key );
    $shape-key: random( length($shapes) );
    $shape-type: nth( $shapes, $shape-key );
    $text: random(10);
    
    @keyframes shape-#{$i} {
        0% {
            transform: translate3d(0,0,0) rotate(#{$rotation + 0}deg);
        }
        100% {
            transform: translate3d(0,0,0) rotate(#{$rotation + 360}deg);
        }
    }
  
    .shape-container--#{$i} { 
        animation: shape-#{$i} #{$speed}s linear infinite;

        .random-shape:after {
            margin: #{$shape-size}rem;
            color: $shape-color;
            font-size: #{$shape-size *.3}rem;
            content: $shape-type;
        }
    }
}
