body{
    scroll-behavior: smooth;
}


.aboutme{
    padding: 10rem;
    margin-top: 150rem;
    &__header{
        
        display: flex;
        
        font-size: 20rem;
        font-family: 'Montserrat', sans-serif;
        h2{
            font-size: 25rem;
        }
        &__title{
            
            color: var(--light);
            span{
                color: var(--delta);
                margin-right: 10px;
            }
        }
        img{
               margin-left: 10px;
        }
    }


    
    &__content{
        margin-top: 20rem;
        color: rgba(244, 244, 244, .9);
        font-size: 20rem;
        p{
            line-height: 25rem;
            font-size: 20rem;
            font-family: 'Work Sans', sans-serif;
        }

        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 20rem;
            li{
                margin-top: 20rem;
                font-family: 'Work Sans', sans-serif;
            }
            img{
                margin-right: 10rem;
            }
        }
    }

    &__picWrapper{
        
        
        margin-top: 60rem;
        
        
    }
    &__shape{
        display: block;
        margin: 0 auto;
        
        //align-items: center;
        width: 320px;   
        height: 320px;
        border-top: 5rem solid var(--delta);
        border-left: 5rem solid var(--delta);

        img{
            padding: 10rem  ;
        }
        img:hover::before {
            -webkit-animation: shine .75s;
            animation: shine .75s;
        }
        @-webkit-keyframes shine {
            100% {
                left: 125%;
            }
        }
        @keyframes shine {
            100% {
                left: 125%;
            }
        }
        
    }


    @include respond-to('small'){
        padding: 20rem;
        display: grid;
        grid-template-columns: 1fr minmax(500rem, 520rem)  minmax(500rem, 560rem) 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: -250rem;
        white-space:normal;
        &__container{
            grid-column: 3/4;
            grid-row: 1/2;
            
        }

        &__picWrapper{
            grid-column: 2/3;
            grid-row: 1/2;

            
        }

       

        &__content{
            max-width: 800rem;
            p, li{
                font-size: 20rem;
            }
        }


        &__picWrapper{
            margin-top: -10rem;
        }
        &__shape{
            margin-left: 80rem;
            width: 320px;   
            height: 500px;
        }
    }
}





