.experience{
    
    padding: 10rem;
    margin-top: 120rem;
    
    &__header{
        display: flex;
        margin-top: 30rem;
        &__title{
            font-size: 25rem;
            font-family: 'Montserrat', sans-serif;
            color: var(--light);
            margin-bottom: 15rem;
            span{
                color: var(--delta);
                margin-right: 10px;
            }
        }

        img{
            margin-left: 15px;
        }
    }

    &__list{
        color: var(--delta);
        margin-top: 10rem;
        padding: 10rem;
        width: 100%;
        ul{
            display: flex;
            
            flex-direction: row;
            overflow: scroll;
            width: 100%;
        }
        li{
            
            height: 30rem;
            display: 0 0 auto;
            width: 100%;
            margin-top: 10rem;
            font-size: 20rem;
            margin-right: 20rem;
            position: relative;
        }
        
    }
    

    &__jobDescription{
        margin-top: 5rem;
        color: var(--light);
        &__title{
            font-size: 20rem;
            span{
                color: var(--delta);
            }
        }

        &__period{
            margin-top: 5rem;   

        }

        &__tasks{
            color: var(--lightt);
            font-size: 17rem;
            margin-top: 10rem;

            &__arrow{
                margin-right: 10rem;
                margin-top: 15rem;
                line-height: 10rem;
            }
          
        }
    }
    

    @include respond-to('small'){
        width: 60%;
        margin: 0 auto;
        margin-top: -500rem;

        &__jobDescription{
            margin: 20rem auto;
            
            width: 90%;
        }
    }

}