//font-family: 'Playfair Display', serif;
//font-family: 'Montserrat', sans-serif;

.hero{
    
    position: relative;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content;
        

    &__container{
        
        padding: 10rem;

        &__greeting{
            color: var(--delta);
            font-size: 35rem;
            margin-top: 20rem;
        }

        &__name{
            font-size: 55rem !important;
            color: var(--light);
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            margin-top: 10rem;
        }
        
        &__todo{
            color: rgba(244, 244, 244, .9);
            font-size: 35rem;
            margin-top: 12rem;
        }

        &__description{
            color: rgba(244, 244, 244, .9);
            line-height: 30rem;
            margin-top: 18rem;
            font-family: 'Playfair Display', serif;
            font-size: 20rem;
            span{
                color: var(--delta);
                text-decoration: underline;
            }
        }
        
        
    }
    &__stickerContainer{
        margin: 0 auto;
        margin-top: 20rem;
    }

    @include respond-to('small'){
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr minmax(597rem, 600rem)  1fr 1fr 1fr;
        padding: 10rem;
        &__container{
            grid-column: 2/3;
           
            &__greeting{
                grid-row: 1/2;
            }

            &__name{
                grid-row: 2/3;
            }

            &__todo{
                grid-row: 3/4;
            }

            &__description{
                grid-row: 4/5;
            }
        }

        &__stickerContainer{
            grid-column: 4/5;
            margin-top: -.5rem;
        }
        
    }
    
}