.mail{
    



    @include respond-to('small'){
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr minmax(100rem ,100rem);
        position:fixed;
        
        bottom: 0;
        ul{
            grid-column: 5/6;
            justify-self: end;
            display:inline-block;
            text-align:center;

            li{
                margin-top: 10rem;
            }
        }
    }
}