.projects{
    position: relative;
    
    margin-top: 130rem;
    
    &__header{
        display: flex;
        margin-top: 30rem;
        &__title{
            font-size: 25rem;
            font-family: 'Montserrat', sans-serif;
            color: var(--light);
            span{
                color: var(--delta);
                margin-right: 10px;
            }
        }

        img{
            margin-left: 15px;
        }
    }
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content ;


        &__mockup{
            grid-row: 1/2;
            padding: 50rem;
            
            img{
                align-self: center;
                width: 80%;
                margin-left: 43rem;
            }
            
            img:last-child {
                display: none;  
            }
            span:hover img:last-child {
                display: block;  
                margin: 0 auto;
            }
            span:hover img:first-child {
                display: none;  
            }
        }
    
        &__featuredProject{
            -webkit-box-shadow: -5px -6px 18px -6px rgba(0,0,0,0.58); 
            box-shadow: -5px -6px 18px -6px rgba(0,0,0,0.58);;
            grid-row: 2/3;
            background-color: #0A192F;
            display: block;
            top: -100px;
            position: relative;
            margin-top: -500rem;
            margin: 0 auto;
            width: 90%;
            padding: 20rem;
            h6{
                color: #00FFBB;
                margin-bottom: 5rem;
            }
            h3{
                font-size: 20rem;
                color: var(--light);
                margin-bottom: 15rem;
            }

            p{
                margin-bottom: 10rem;
            }
            p, ul{
                color: var(--light);
            }
            li{
                list-style:inside
            }
        }



        &__footer{
            display: grid;
            grid-template-columns: 1fr 1fr min-content;
        }

        &__techUsed{
            grid-column: 1/2;
            display: flex;
            margin-top: 30rem;
            li{
                list-style: none;
                bottom: 0;
                margin-right: 20rem;
                float: right;
                font-size: 15rem;
            }
            
            
        }

        &__links{
            grid-column: 3/4;
            display: flex;
            margin-top: 20rem;
            
            li{
                list-style: none;
                bottom: 0;
                align-self: center;
                margin-left: 10rem ;
                font-size: 15rem;
            }
        }

        
    }

    &__wrapper2{
        margin-top: -100rem;
    }

    
    @include respond-to('small'){
       margin: 0 auto;
        padding: 100rem;


        &__header{
            margin-left: 65rem;
        }
        
        &__oveWrapper{
            display: flex;
            flex-wrap: wrap;
            padding: 80rem;
        }
        &__wrapper{
            flex: 1 1 50%;
            margin: -20rem auto;
            height: calc(100% + 50rem);
            &__mockup{
                img{
                    width: 80%;
                }
            }

            &__footer{
                
                margin-top:40rem;
            }
            
            &__links{
                
                img{
                    width: 25rem;
                    
                }
               
            }
        }

        
    }
    
}